/*************************************************************/
BODY {
	background-image: url('./pageImages/pageBackground.jpeg');
	margin:0px;
	font-size:10px;
	font-family:verdana;
	margin-top:100px;
}

LEGEND {
	font-size:14px;
	font-weight:bold;
	padding:5px;
}

TD.separated {
	background-color:#BDB76B;
}

DIV#headerwrap {
	background-image: url('./pageImages/headerBackground.png');
	background-repeat: repeat-x;
	background-position: left top;
	border-bottom: 0px solid #FFFFF0;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 960px;
	float:left;
	position:fixed;
	z-index:100;
	top:0px;
	left:0px;
}

.featEvidence {
  font-weight:bold;
  font-style:italic;  
}

DIV#header{
	height:95px;
	float:left;
}

DIV#cointainer {
	position:relative;
	float:left;
}

DIV#logo {
	width: 380px;
	height: 60px;
	text-align: left;
	float: left;
	display: inline;
	margin: 8px 0px 0 115px;
	padding: 0px;
	background: url('./pageImages/logo-pathfinder_prd.png') top left no-repeat;
}

#logo H1 {
	color:#F8F6E7;
	line-height: 1;
	font-size: 16px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: 700;
	font-variant: small-caps;
	margin: 4px 0 0 210px;
	padding: 0;
}

IMG#flourishTop {
	position: absolute;
	top: -10px;
	right: 0;
}

.graffa {
	//background-image:url('./pageImages/raggruppatore.jpg');
	background-color:#BDB76B;
	background-position: 0 -13px;
	background-repeat:repeat-x;
	padding-top:10px;
	color:black;
	padding-left:4px;
	padding-right:4px;
}
